# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = news_crawler.settings

[deploy]
url = http://localhost:46800/
project = news_crawler
